.body-cont{
	flex-direction: column;
	padding-bottom: 1.5rem;
}

.task-cont, .body-cont, .left, .right{
	display: flex;
}

.task-cont:first-child{
	border-top: 1px solid #ddd;
}

.task-cont{
	padding: 8px;
	border-bottom: 1px solid #ddd;
	justify-content: space-between;
}

.right  fa-icon:first-child, app-update-btn, .left span:first-child{
	padding-right: 1rem;
}

fa-icon{
	cursor: pointer;
	transition: 0.3s;
}

fa-icon:hover{
	color: #7CB9E8;
}

.left, .right{
	align-items: center;
	justify-content: center;
}