<div class="body-cont">
	<div class="task-cont">
		<div class="left">
			<span>Checkbox</span>
			<span>Task</span>
		</div>
		
		<div class="right">
			<span>Update Icon</span>
			<span>Delete Icon</span>
		</div>
	</div>
	
	<div class="task-cont">
		<div class="left">
			<span>Checkbox</span>
			<span>Task</span>
		</div>
		
		<div class="right">
			<span>Update Icon</span>
			<span>Delete Icon</span>
		</div>
	</div>
	
	<div class="task-cont">
		<div class="left">
			<span>Checkbox</span>
			<span>Task</span>
		</div>
		
		<div class="right">
			<span>Update Icon</span>
			<span>Delete Icon</span>
		</div>
	</div>
</div>