.inputField-cont{
	display: flex;
	padding-right: 8px;
}

.inputField, .inputField-cont{
	width: 100%;
}

.inputField{
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	padding: 9.5px 14px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ddd;
	transition: 0.3s;
}

.inputField:focus{
	border: 1px solid #7CB9E8;
	box-shadow: 0 0 5px #7CB9E8;
}